body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #6bc6ff; /* Web sayfasının arka plan rengi */
    color: #333333; /* Metin rengi */
}

h1 {
    color: #ff0000; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

ul {
    border-style:solid;
    border-width: 5px;
    border-color:blue;
    border-radius:10px;
    padding: 5px;
}